## CVS files (if maintained in parallel)
CVS

##
# Below this line everything should be exaclty the same as in .cvsignore
##

## Bootstrap
#app/bootstrap*

.DS_Store
.buildpath
.project
.settings/org.eclipse.php.core.prefs
*.pyc
## Configuration files
#app/config/parameters.ini

