## CVS files (if maintained in parallel)
CVS

##
# Below this line everything should be exaclty the same as in .cvsignore
##

## Bootstrap
#app/bootstrap*

.DS_Store
.buildpath
.project
.settings/org.eclipse.php.core.prefs
*.pyc
## Symfony directories
app/config/parameters.ini
vendor/*
app/logs
app/cache
web/uploads/*
web/bundles/*
web/admin3/*
web/css/*
web/images/*
web/static/*
src/TMP
## Configuration files
#app/config/parameters.ini

